        <div class="vertical-border"></div>
        <div class="container-footer">
            <p><a href="">About Careers </a><a href="">Privacy Terms </a><a href="">Contact </a><a href="">Languages </a><a
                    href="">Your Ad ChoicesPress© Quora, Inc. 2023</a></p>
        </div>
    </div>
</div>

</body>
</html>