<div class="container-body">
    <div class="container-left">
        <p class="">By continuing you indicate that you agree to Quora’s <a href="">Terms of Service</a> and <a
                href="">Privacy Policy</a>.</p>
        <div class="auth-button">Continue with Google</div>
        <div class="auth-button">Continue with Facebook</div>
        <p><a href="/sign-up">Sign up with email</a></p>
    </div>
    <span class="border"></span>
    <div class="container-right">
        <p>Login</p>
        <form action="">
            <div class="form-input">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Your email">
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Your password">
            </div>
            <div class="form-input-submit">

                <button>Lgin</button>
            </div>

        </form>
    </div>
</div>
