
    <div class="container-right">
        <p>Login</p>
        <form action="">
            <div class="form-input">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Your email">
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Your password">
            </div>
            <div class="form-input-submit">
                <button>Lgin</button>
            </div>
        </form>
    </div>

</div>
