
    <div class="container-right">
        <p>Register</p>
        <form action="">
            <div class="form-input">
                <label for="password">Username</label>
                <input type="text" name="username" placeholder="Your username">
            </div>
            <div class="form-input">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Your email">
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Your password">
            </div>
            <div class="form-input-submit">

                <button>Register</button>
            </div>

        </form>
    </div>
</div>